.DS_Store
data/.DS_Store
data/images/image_1.nii.gz
data/images/image_2.nii.gz
data/images/image_3.nii.gz
data/images/image_4.nii.gz
data/images/image_5.nii.gz
data/images/image_6.nii.gz
data/images/image_7.nii.gz
data/images/image_8.nii.gz
data/images/image_9.nii.gz
data/images/image_10.nii.gz
data/images/image_11.nii.gz
data/images/image_12.nii.gz
data/images/image_13.nii.gz
data/images/image_14.nii.gz
data/masks/.DS_Store
data/masks/mask_1.nii.gz
data/masks/mask_2.nii.gz
data/masks/mask_3.nii.gz
data/masks/mask_4.nii.gz
data/masks/mask_5.nii.gz
data/masks/mask_6.nii.gz
data/masks/mask_7.nii.gz
data/masks/mask_8.nii.gz
data/masks/mask_9.nii.gz
data/masks/mask_10.nii.gz
data/masks/mask_11.nii.gz
data/masks/mask_12.nii.gz
data/masks/mask_13.nii.gz
data/masks/mask_14.nii.gz
data/.DS_Store
main/.DS_Store
